@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#000000, #efefec);
  background-color: light-dark(#efedea, #070707);
}

